* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "roboto", sans-serif;
}

@font-face {
    font-family: "tahu";
    src: url("css/fonts/tahu!.ttf");
}

@font-face {
    font-family: "caviar dreams";
    src: url("css/fonts/CaviarDreams.ttf");
}

@font-face {
    font-family: "roboto thin";
    src: url("css/fonts/roboto-thin.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("css/fonts/roboto-regular.ttf");
}

@font-face {
    font-family: "roboto bold";
    src: url("css/fonts/roboto-bold.ttf");
}

@font-face {
    font-family: "caviar bold";
    src: url("css/fonts/caviardreams_bold.ttf");
}

@font-face {
    font-family: "roboto light";
    src: url("css/fonts/roboto-light.ttf");
}

nav {
    height: 65px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 16px;
}

.navContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}

nav li {
    color: #000000;
    display: inline-block;
    float: right;
    padding: 7px;
    margin-left: 4px;
    margin-right: 4px;
    border: #FFFFFF 2px solid;
}

nav li:hover {
    border: #000000 2px solid;
}

.logoName {
    float: left;
    padding: 10px;
    display: inline-block;
    font-family: "tahu";
    font-size: 38px;
}

.navAlignBox {
    /*border: #FFFFFF 2px solid;*/
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;
}

/*@media screen and (max-width: 720px) {*/
    /*nav ul {*/
        /*display: none;*/
    /*}*/
/*}*/

.titleContainer {
    height: 500px;
    background-image: url("css/pics/aerialHarbour.jpg");
    background-size: cover;
    padding-top: 50px;
    padding-left: 100px;
}

.titleBox {
    color: #000000;
    background-color: rgba(209,207,214,0.42);
    /*margin: 0 auto;*/
    width: 500px;
    text-align: center;
    border-top: #000000 2px solid;
    border-bottom: #000000 2px solid;
    margin-bottom: 20px;
}

.titleBox img {
    margin-top: 10px;
    width: 6%;
    height: auto;
}

.titleBox h1 {
    font-size: 74px;
    margin: 0 auto;
    font-family: tahu;
}

@media screen and (max-width: 720px) {
    .titleBox img {
        width: 7%;
    }

    .titleBox h1 {
        font-size: 42px;
    }

    .titleBox {
        width: 250px;
        border-top: #000000 1px solid;
        border-bottom: #000000 1px solid;
    }
}

.aboutMeBox {
    background-color: rgba(255,255,255,0.8);
    border-radius: 8px;
    width: 800px;
    height: 200px;
    color: #000000;
    padding: 20px;
    font-family: "roboto thin";
}

.aboutMeBoxSmall {
    display: none;
}

@media screen and (max-width: 950px) {
    .aboutMeBox {
        width: 650px;
    }
}

@media screen and (max-width: 780px) {
    .aboutMeBox {
        width: 550px;
        height: 340px;
    }

    .titleContainer {
        height: 650px;
    }
}

@media screen and (max-width: 675px) {
    .aboutMeBox {
        display: none;
    }

    .aboutMeBoxSmall {
        display: block;
        background-color: rgba(255,255,255,0.8);
        border-radius: 8px;
        width: 800px;
        height: 300px;
        color: #000000;
        padding: 20px;
        font-family: "roboto thin";
        margin: 5px 10px;
    }

    .titleBox {
        margin: 0 auto;
    }

    .titleContainer {
        padding: 50px 0;
        height: 300px;
    }
}

.subcategoryContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #EEEEEE;
    padding: 60px 0;
}

.technologiesBox {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 600px;
    height: 310px;
    display: inline-block;
    padding: 20px;
    color: #000000;
    margin: 8px;
    font-family: "roboto thin";
    position: relative;
}

.portfolioContactContainer {
    color: #FFFFFF;
    width: 600px;
    margin: 8px;
    display: inline-block;
}

.portfolioBox {
    border-radius: 8px;
    width: 600px;
    height: 150px;
    text-indent: 15px;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-family: "roboto thin";
    background-image: url("css/pics/coffee.jpg");
    background-size: cover;
    position: relative;
    text-decoration: none;
}

.portfolioContactContainer h3 {
    padding-top: 18px;
    margin: 0;
}

.backgroundFade {
    background-color: rgba(130,130,130,0.6);
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.contactBox {
    border-radius: 8px;
    width: 600px;
    height: 150px;
    text-indent: 15px;
    color: #FFFFFF;
    font-family: "roboto thin";
    background-image: url("css/pics/flatFurniture.jpg");
    background-size: cover;
    position: relative;
    text-decoration: none;
}

footer {
    height: 200px;
}

.footerBox2 {
    height: 100%;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}

.footerBox2 h4 {
    font-family: tahu;
    font-size: 24px;
}

.footerBox2 h5 {
    font-family: "roboto thin";
}